<title>Putin Emoji</title>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/putin.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
