#recentBox {
  padding-top: 20px;
}

#header-put {
  padding-top: 5px;
}

#linkBox {
  border: 1px solid #7f8c8d;
  border-radius: 0;
  color: #7f8c8d;
  font-family: inherit;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 0;
  min-width: 328px;
  padding: 12px 43px 12px 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
}

#copyBox {
  position: relative;
  right: -16px;
  top: -15px;
}

.form-control-but {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
  right: 21px;
  top: 22px;
  position: absolute;
}

#searchBox {
  margin-top: 15px;
}

.easy-autocomplete{
  width:100% !important
}

#searchForm {
  width: 100%;
}

.put-row {
  display: table;
  width: 100%;
}

.put-cell {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}

.put-logo {
  width: 220px;
  padding-top: 16px;
}

.easy-autocomplete input{
  width: 100%;
  min-width: 300px !important;
}

::-ms-clear {
  display: none;
}

.hidden {
  display: none;
}

#recentWrapper {
  padding-top: 25px;
}

.card-columns {
  column-count: 4;
}

img.smallPutin {
  pointer-events: auto;
  cursor: pointer;
}

.form-control-clear {
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
  right: 6px;
  top: 38px;
  position: absolute;
}

.card {
  display: inline-block;
}

#logo {
  width: 225px;
  top: 0px;
  position: relative;
}

@media (max-width: 768px) {

  .form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    right: 6px;
    top: 22px;
    position: absolute;
  }

  .put-cell {
    display: flex;
    vertical-align: middle;
    width: 100%;
  }

  #copyBox {
    position: relative;
    right: -16px;
    top: -15px;
  }

  #logo {
    width: 225px;
    top: 7px;
    left: -10px;
    position: relative;
  }

  .card-columns {
    column-count: 2;
  }

}

.logo-wrapper {
  max-width: 220px;
}

.bottom {
  position: fixed;
  bottom: 10px;
  right: 15px;
  display: none;
}

#putin {
  max-width: 100%;
  height: auto;
}

#imageBox {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.content  {
  padding-top: 30px;
}

#spinnerBox {
  display: none;
}

#resultBox {
  display: none;
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 14px;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}