<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="">

    <header>
      <nav class="container">
        <div class="row">
          <div class="col-md-4 logo-wrapper">
            <a href="/"><img id="logo" src="/img/logo-new.png?v=1" alt="logo" /></a>
          </div>
          <div class="col-md-8 btn-group has-clear">
            <input id="searchBox" class="form-control form-control-lg" type="text" placeholder="Search for emoji. E.g. cool">
            <span class="form-control-clear hidden">
              <button class="btn btn-default">
                Clean
              </button>
            </span>
          </div>
        </div>
      </nav>
    </header>

    <main class="container">

      <div id="spinnerBox">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>

      <div id="resultBox">
        <div class="row">
          <div class="input-group">
            <input id="linkBox" type="text" class="form-control">
            <span class="input-group-btn">
                <button id="copyBox" class="btn btn-default" onclick="copyToClipboard('#linkBox'); notifyCopied($('#copyBox'));" type="button">Copy url</button>
            </span>
          </div>
        </div>
        <div class="row">
          <div id="imageBox">
          </div>
        </div>
      </div>

      <div id="recentWrapper" class="hidden">
        <h3 title="Click the image to copy the url.">Your Recent Putins</h3>
        <div id="recentBox" class="card-columns">
        </div>
      </div>

    </main>

    <footer class="bottom">
      <a href="/docs/rest">REST API</a>
    </footer>

  </div>


</body>
</html>
