<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="">

    <header>
      <nav class="navbar">
        <div class="navbar-brand form-inline">
          <a href="/"><img src="/img/logo.png" alt="logo" /></a>
          <input id="searchBox" class="form-control form-control-lg" type="text" placeholder="Search for emoji. E.g. cool">
        </div>
      </nav>
    </header>

    <main class="container">

      <div id="spinnerBox">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>

      <div id="resultBox">
        <div class="row">
          <div class="input-group">
            <input id="linkBox" type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default" onclick="copyToClipboard('#linkBox')" type="button">Copy url</button>
            </span>
          </div>
        </div>
        <div class="row">
          <div id="imageBox">
          </div>
        </div>
      </div>

    </main>

  </div>


</body>
</html>
